@import "tailwindcss";

/* Distribui o código para toda a aplicação */
@layer base {

  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #fff;
    background-color: #000;
    font-family: "Inter", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}

/* Cria utilitários para usar */
@layer utilities {
  .text-gradient {
    background: linear-gradient(135deg, rgb(37 99 235) 0%, rgb(249 115 22) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}